{% extends "base.html" %}

{% block title %}Game Lobby{% endblock %}

{% block content %}
<div class="game-container">
    <div class="sidebar">
        <h2>Players</h2>
        <ul id="player-list">

        </ul>
    </div>
    <div class="main-content">
        <div id="chat-box">

        </div>
        <form id="chat-form">
            <input id="message-input" type="text" placeholder="Type a message..." autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </div>
</div>


<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        const socket = io();


        const chatBox = document.getElementById('chat-box');
        const chatForm = document.getElementById('chat-form');
        const messageInput = document.getElementById('message-input');
        const playerList = document.getElementById('player-list');

        const scrollToBottom = () => {
            chatBox.scrollTop = chatBox.scrollHeight;
        };


        socket.on('connect', () => {
            console.log('Connected to server!');
        });


        socket.on('user_update', (data) => {
            const item = document.createElement('p');
            item.className = 'system-message';
            item.textContent = data.message;
            chatBox.appendChild(item);
            scrollToBottom();
        });


        socket.on('chat_history', (data) => {
            chatBox.innerHTML = '';
            data.messages.forEach(msg => {
                const item = document.createElement('p');
                item.innerHTML = `<b>${msg.nick}:</b> ${msg.text}`;
                chatBox.appendChild(item);
            });
            scrollToBottom();
        });


        socket.on('chat_update', (data) => {
            const item = document.createElement('p');
            item.innerHTML = `<b>${data.nick}:</b> ${data.text}`;
            chatBox.appendChild(item);
            scrollToBottom();
        });

        socket.on('server_error', (data) => {
            socket.disconnect();
            window.location.href = '/';
        });


        socket.on('player_list_update', (data) => {
            playerList.innerHTML = '';
            data.players.forEach(player => {
                const item = document.createElement('li');
                item.textContent = player;
                playerList.appendChild(item);
            });
        });


        chatForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const messageText = messageInput.value.trim();
            if (messageText) {

                socket.emit('new_message', { 'text': messageText });
                messageInput.value = '';
            }
        });
    });
</script>
{% endblock %}