<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Game</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" x-data="homeApp()">
        <h1>Join game</h1>
        <div class="form-group">
            <input type="text" x-model="nick" placeholder="Enter your nickname">
        </div>

        <div class="form-group">
            <input type="text" x-model="room" placeholder="Enter room code to join">
            <button class="btn btn-primary" @click="joinRoom" :disabled="!nick.trim() || !room.trim()">Join Room</button>
        </div>

        <hr>

        <div class="form-group">
            <button class="btn btn-secondary" @click="createRoom" :disabled="!nick.trim()">Create New Room</button>
        </div>

        <p x-text="error" style="color: red;"></p>
    </div>

    <script src = "../static/homeScript.js"></script>

</body>
</html>